<IfModule mod_rewrite.c>
    RewriteEngine On

    # Specific rule for /proveedores to add trailing slash if missing
    RewriteCond %{REQUEST_URI} ^/proveedores$
    RewriteRule ^(.*)$ /$1/ [L,R=301]

    # Redirect first-level directories without trailing slash to with trailing slash
    RewriteCond %{REQUEST_URI} ^/([^/]+)$
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)$ /$1/ [L,R=301]

    # Laravel's default .htaccess rules
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>